# Machine Learning Project- Bokeh

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
exam = pd.read_csv("exams.csv")
exam.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68

In [5]:
# delete duplicate rows
exam.drop_duplicates(inplace=True)
print(exam.shape)

(999, 8)

## Bokeh 
#### Bokeh is an interactive visualization library in Python that targets web browsers for presentation.

In [6]:
# Import packages with Bokeh
import random
from bokeh.io import output_file, show
from bokeh.plotting import figure
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
exam = pd.read_csv("exams.csv")
exam.head()

# Create a line plot using the ellipse glyph
plot = figure()
x = exam ['reading score']
y = exam ['math score']
plot.ellipse(x, y, height = 2, width = 1)

# Output plot, will reflect in another tab/window
show(plot)

In [ ]:
# The relationship portrayed a positive correlation. The variables are trending upward.
# The closer the data points come to forming a straight line when plotted, the higher the correlation between the two variables